<!DOCTYPE html>
<html>
<head>
    <title>Add User</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Add User</h1>
    <form action="/users" method="POST">
        <label>Name: <input type="text" name="name" required></label><br><br>
        <label>Age: <input type="number" name="age" required></label><br><br>
        <button type="submit">Add</button>
    </form>
    <br>
    <a href="/users">Back to User List</a>
</body>
</html>
